
<section id="courses-part" class="pt-40 pb-40 gray-bg">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-3" id="courseCategory">
                </div>
                <div class="col-lg-9" id="courseList">
                </div>
            </div>
        </div>
    </div>
  </section>
    <script src="~/js/app/ViewerJs/courseListPanel.js"></script>
