
/Teach-Ease-Lite/bin/*

/Teach-Ease-Lite/obj/*

/Teach-Ease-Lite/*.csproj
/Teach-Ease-Lite/*.csproj.user
*.pdb

/*.suo

/*.sln

*.pdf

*.doc

Teach-Ease-Lite.sln.suo

*.xml


.vs/*
/Teach-Ease-Lite/obj/Debug
/Teach-Ease-Lite/obj/Release
