@model Teach_Ease_Lite.Models.Login
@{
    ViewBag.Title = "ForgotPassword";
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    @using (Ajax.BeginForm("ForgotPassword", "Login", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "validateEmpty", OnSuccess = "onSaveResponse" }, new { id = "ForgotPassword" }))
    {
        <div style="margin:10px;">
            <label style="font-weight:bold">Forgot Password</label>
        </div>
        <div style="margin:-20px 10px 0px 10px;">
            <label style="font-size:12px; margin-top:-5px;">We'll send you an email so you can reset your password.</label>
        </div>
        <div style="margin:10px;">
            @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", placeholder = "Email", autocomplete = "off" })
        </div>
        <div style="margin:20px 10px 10px 10px;">
            <button class="main-btn" style="line-height:40px; padding:0 20px;">Reset Password</button>
            <button class="main-btn" style="line-height:40px; padding:0 20px;">Cancel</button>
        </div>
    }
</body>
</html>
