@model Teach_Ease_Lite.Models.Login
@{
    ViewBag.Title = "ForgotPassword";
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    @using (Ajax.BeginForm("ForgotPassword", "Login", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "validateEmpty", OnSuccess = "onSaveResponse" }, new { id = "ForgotPassword" }))
    {
        <div class="p-3">
            <div class="row" style="margin-top:-20px;">
                <div class="col-md-12 p-2">
                    <label style="font-weight:bold">Forgot Password</label>
                </div>
                <div class="col-md-12 p-2" style="margin-top:-25px;">
                    <label style="font-size:12px; margin-top:-5px;">We'll send you an email so you can reset your password.</label>
                </div>
                <div class="col-md-12 p-2">
                    @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", placeholder = "Email", autocomplete = "off", MaxLength = "100" })
                </div>
                <div class="col-md-12 p-2">
                    <button class="main-btn" style="line-height:40px; padding:0 20px;">Reset Password</button>
                    <button class="main-btn" style="line-height:40px; padding:0 20px;">Cancel</button>
                </div>
            </div>
        </div>
    }
</body>
</html>
