@model Teach_Ease_Lite.Models.Login
@{
    ViewBag.Title = "InstructorLogin";
}


<!DOCTYPE html>
<html>
<head>

</head>
<body>
    @using (Ajax.BeginForm("InstructorLogin", "Login", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "validateEmpty", OnSuccess = "onSaveResponse" }, new { id = "InstructorLogin" }))
    {
        <div>
            <div style="margin:10px;">
                <div style="margin:10px;">
                    @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", placeholder = "Email", autocomplete = "off" })
                </div>
                <div style="margin:10px;">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", @type = "password", autocomplete = "off" })
                </div>
                <div style="width:99%; text-align:right; font-size:12px;">
                    <div style="float:left" class="p-2">
                        <button class="main-btn" style="line-height:40px; padding:0 20px;">Login</button>
                    </div>
                    <div>
                        <a href="javascript:void(0)" style="margin-right:5px;" onclick="forgotPassword()">Forgot your password?</a>
                    </div>
                </div>
            </div>
            <div style="margin-top:50px;">
                <div class="modal-footer bg-color-custom pt-2 pb-2">
                    <div style="text-align:center; width:100%">
                        Didn't have an account? &nbsp;<a href="javascript:void(0)" onclick="InstructorSignUp()" class="link-primary">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>

<script type="text/javascript">
    function InstructorSignUp() {
         $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("InstructorSignUp", "Login")',
                data: { },
                success: function (response) {
                    if (response != null) {
                        $("#headerTitleName").html("Sign Up");
                        $("#divLoginPopupPageContent").html(response);
                        $("#dialog-preview-login").modal('show');
                    }
                }
            });
    }

     function forgotPassword() {
         $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ForgotPassword", "Login")',
                data: { },
                success: function (response) {
                    if (response != null) {
                        $("#headerTitleName").html("");
                        $("#divLoginPopupPageContent").html(response);
                        $("#dialog-preview-login").modal('show');
                    }
                }
            });
    }
</script>
