@model Teach_Ease_Lite.Models.Login
@{
    ViewBag.Title = "InstructorLogin";
}


<!DOCTYPE html>
<html>
<head>

</head>
<body>
    @using (Ajax.BeginForm("InstructorLogin", "Login", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "validateEmpty", OnSuccess = "onSaveResponse" }, new { id = "InstructorLogin" }))
    {
        <div class="p-4">
            <div class="row" style="margin-top:-20px;">
                <div class="col-md-12 p-2">
                    @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", placeholder = "Email", autocomplete = "off", MaxLength = "100" })
                </div>
                <div class="col-md-12 p-2">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", @type = "password", autocomplete = "off", MaxLength = "250" })
                    <a class="eyeIconPassword"><i class="fa fa-eye iconPasword" style="color: #808080"></i></a>
                </div>
                <div class="col-md-4 p-2" style="float:left; width:40%;">
                    <button class="main-btn" style="line-height:40px; padding:0 20px;">Login</button>
                </div>
                <div class="col-md-8" style="text-align:right; width:60%">
                    <a href="javascript:void(0)" style="font-size:12px;" onclick="forgotPassword()">Forgot your password?</a>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-color-custom pt-2 pb-2">
            <div style="text-align:center; width:100%">
                Didn't have an account? &nbsp;<a href="javascript:void(0)" onclick="InstructorSignUp()" class="link-primary">Sign Up</a>
            </div>
        </div>
    }
</body>
</html>

<script type="text/javascript">
    function InstructorSignUp() {
         $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("InstructorSignUp", "Login")',
                data: { },
                success: function (response) {
                    if (response != null) {
                        $("#headerTitleName").html("Sign Up");
                        $("#divLoginPopupPageContent").html(response);
                        $("#dialog-preview-login").modal('show');
                    }
                }
            });
    }

     function forgotPassword() {
         $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("ForgotPassword", "Login")',
                data: { },
                success: function (response) {
                    if (response != null) {
                        $("#headerTitleName").html("");
                        $("#divLoginPopupPageContent").html(response);
                        $("#dialog-preview-login").modal('show');
                    }
                }
            });
    }

    $('.iconPasword').click(function show() {
        if ($(this).hasClass('fa fa-eye')) {
            $('#Password').attr('type', 'text');
            $('.iconPasword').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        }
        else {
            //Change the attribute back to password
            $('#Password').attr('type', 'password');
            $('.iconPasword').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        }
    });
</script>
