@model Teach_Ease_Lite.Models.Login
@{
    ViewBag.Title = "ResetPassword";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/png">
   
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/Content/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="~/Content/animate.css">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="~/Content/nice-select.css">

    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="~/Content/jquery.nice-number.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/Content/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/Content/style.css">

    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="~/Content/responsive.css">

    <style>
        .myForm {
            min-width: 500px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    @using (Ajax.BeginForm("ResetPassword", "Login", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "validateEmpty", OnSuccess = "onSaveResponse" }, new { id = "ResetPassword" }))
    {
        <div class="myForm card">
            <div class="card-header header-elements-inline">
                <h4 class="card-title ml-auto mr-auto">Reset Password</h4>
            </div>
            <div class="card-body p-2">
                <div class="col-md-12 p-2">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "New Password", @type = "password", autocomplete = "off", MaxLength = "250" })
                    <a class="eyeIconPassword"><i class="fa fa-eye iconPasword" style="color: #808080"></i></a>
                    <label id="ValidationForNewPassword" class="text-danger mt-1 ml-2" style="display: none">
                    </label>
                </div>
                <div class="col-md-12 p-2">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", @type = "password", autocomplete = "off", MaxLength = "250" })
                    <a class="eyeIconPassword"><i class="fa fa-eye iconConfirmPasword" style="color: #808080"></i></a>
                    <label id="ValidationForConfirmPassword" class="text-danger mt-1 ml-2" style="display: none">
                    </label>
                </div>
            </div>
            <div class="col-md-12 bg-color-custom p-0">
                <div class="col-md-12 p-2">
                    <button type="submit" id="btnSave" class="main-btn" style="line-height:40px;" title="Save" onclick="return validateEmpty();">
                        <strong><i class="mi-save mr-2"></i>Save</strong>
                    </button>
                    <button type="button" id="btnCancel" class="main-btn ml-1" style="line-height:40px;" title="Back" onclick="BackButton();">
                        <strong><i class="icon-cross2 mr-2"></i>Cancel </strong>
                    </button>
                </div>
            </div>
        </div>
    }
</body>
</html>
<!--====== jquery js ======-->
<script src="~/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="~/js/vendor/jquery-1.12.4.min.js"></script>

<!--====== Bootstrap js ======-->
<script src="~/js/bootstrap.min.js"></script>

<!--====== Slick js ======-->
<script src="~/js/slick.min.js"></script>

<!--====== Magnific Popup js ======-->
<script src="~/js/jquery.magnific-popup.min.js"></script>

<!--====== Counter Up js ======-->
<script src="~/js/waypoints.min.js"></script>
<script src="~/js/jquery.counterup.min.js"></script>

<!--====== Nice Select js ======-->
<script src="~/js/jquery.nice-select.min.js"></script>

<!--====== Nice Number js ======-->
<script src="~/js/jquery.nice-number.min.js"></script>

<!--====== Count Down js ======-->
<script src="~/js/jquery.countdown.min.js"></script>

<!--====== Validator js ======-->
<script src="~/js/validator.min.js"></script>

<!--====== Ajax Contact js ======-->
<script src="~/js/ajax-contact.js"></script>

<!--====== Main js ======-->
<script src="~/js/main.js"></script>

<!--====== Map js ======-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
<script src="~/js/map-script.js"></script>
<script src="~/js/app/partial-render.js"></script>

<script type="text/javascript">
    $('.iconPasword').click(function show() {
        if ($(this).hasClass('fa fa-eye')) {
            $('#Password').attr('type', 'text');
            $('.iconPasword').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        }
        else {
            //Change the attribute back to password
            $('#Password').attr('type', 'password');
            $('.iconPasword').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        }
    });
    $('.iconConfirmPasword').click(function show() {
        if ($(this).hasClass('fa fa-eye')) {
            $('#ConfirmPassword').attr('type', 'text');
            $('.iconConfirmPasword').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        }
        else {
            //Change the attribute back to password
            $('#ConfirmPassword').attr('type', 'password');
            $('.iconConfirmPasword').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        }
    });

    function BackButton() {
        window.location.href = '@Url.Action("Index","Viewer")';
    }
</script>
