@model Teach_Ease_Lite.Models.UserProfile
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <div class="card cardMain">
        <div class="card-header header-elements-inline bg-color-custom p_0_6">
            <h5 class="card-title">
                <i class="fa fa-user mr-2"></i>Profile
            </h5>
        </div>
        <div class="card-body">
           
        </div>
    </div>
</body>
</html>
